{
"Dhcp4": {

    "interfaces-config": {
        "interfaces": [ "enu1" ]
    },
    "lease-database": {
        "type": "memfile"
    },

    "valid-lifetime": 3600, // leases will be valid for 12h
    "renew-timer": 1800, // clients shoulqd renew every 6h
    "rebind-timer": 2400, // clients should start looking for other servers after 9h

    "expired-leases-processing": {
        "reclaim-timer-wait-time": 3600,
        "hold-reclaimed-time": 172800,
        "max-reclaim-leases": 0,
        "max-reclaim-time": 0
    },

    "subnet4": [
        {   
            "id": 1,
            "subnet": "192.168.0.0/24",
            "interface": "enu1",
            "pools": [
                {
                    "pool": "192.168.0.100-192.168.0.199"
                }
            ],

            "option-data": [
                {
                    "name": "routers",
                    "data": "192.168.0.1"
                },
                {
                    "name": "domain-name-servers",
                    "data": "192.168.0.50"
                }
            ],

            "reservations": [
                {
                    // HAL reservation WIFI
                    "hw-address": "C8:8A:D8:12:65:84",
                    "ip-address": "192.168.0.51"
                },
                {
                    // Desktop reservation USB WIFI Adapter
                    "hw-address": "de:68:ca:74:eb:5a",
                    "ip-address": "192.168.0.60"
                },
                {
                    // RPI 4 reservation
                    "hw-address": "D8:3A:DD:0C:F5:2B",
                    "ip-address": "192.168.0.70"
                }
            ]
        }
    ],

    "loggers": [
    {
        "name": "kea-dhcp4",
        "output_options": [
            {
                "output": "syslog"
            }
        ],
        "severity": "INFO",
        "debuglevel": 0
    }
  ]
}
}

